@font-face {
  font-family: vaish;
  src:url("Pattaya-Regular.ttf");
}

.wlcmtxt{
  position:relative;
  top:40px;
  left:200px;
  font-family: vaish;
  padding: 10px;
  font-size:40px;
  text-align: center;
  color:#f08080;
}
@media screen and (max-width:600px) {
.wlcmtxt{
  position:relative;
  top:30px;
  left:75px;

  font-family: vaish;
  padding: 10px;
  font-size:30px;
  text-align:center;
  color:#f08080;
}
}
